/* write your override styles here */
.tag1 {
  display: none;
}

#tag1 {
  display: none;
}

#tag2 {
  display: none;
}

#tag3 {
  display: none;
}

#tag4 {
  display: none;
}

#tag5 {
  display: none;
}